

.todos{
  padding: 0;
  background-color: #40a8d8;
  margin: 5px;
  padding: 10px;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content:space-between;
  align-items: center;

}

.todos:hover{
  background-color: #2a9d8f;
}

.remove{
  width: 25px;
  height: 25px;
  background-color: #f4a261;
  cursor: pointer;
  border: none;
}

.remove:hover{
  background-color: #e76f51;
}